[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = UA
ST = Some-State
L = City
O = Internet Widgits Pty Ltd
OU = IT
CN = quickstart-es-http
emailAddress = se@example.com

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = quickstart-es-http
DNS.2 = elasticsearch.local
DNS.3 = quickstart-es-internal-http
IP.1 = 192.168.1.100
IP.2 = 10.0.0.5
