apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090 # Replace 'prometheus' with your Prometheus service name if different
    access: proxy
    isDefault: true
    editable: false
